.loginWrapper{
    margin: 30px auto;
    width: 50vw;
}

.loginForm{
    background-color: white;
    margin: 30px auto;
    // width: 
    border: 1px solid grey;
    .inputWrapper{
        margin: 15px 0;
    }
}
div > span{
    display: inline;
}

div > input, select{
    display: block;
    padding: 5px;
    margin: 0 auto;
    border-radius: 5px;
    border-color:rgb(197, 192, 192);
}

div > input:focus{
    display: block;
    padding: 5px;
    margin: 0 auto;
    outline: none;
}

.iconSign{
    font-size: 2em;
    color: rgb(44, 185, 1);
}



